{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="search-block content-block">
        <h1>All articles</h1>
        <div class="search">
            <a href=""><img src="{% static 'Search.png' %}" alt="" class="search-img"></a>
            <div class="search-field">
                <input type="text" class="search-input">
            </div>
        </div>
    </div>
    <div class="create content-block">
        <h2 class="create-h">
            You can also create your own article!
        </h2>
        <a href="" class="create-a">
            <div class="create-btn">
                CREATE
            </div>
        </a>
    </div>
    <div class="articles">

    {% for article in articles %}
         <div class="article content-block">
            <div class="article-name">
                <div class="name-link">
                    <a href="" class="article-a"><span>{{ article.title }}</span></a>
                </div>

            </div>
            <div class="article-body">
                <p>{{ article.content }}</p>
            </div>

            <div class="article-footer">
                <div class="article-footer-icon-and-values">
                    <h4 class="article-footer-h">{{ article.likes }}</h4>
                    <a href="">

                        <img src="{% static 'FacebookLike.png' %}" alt="" class="article-footer-img">
                    </a>
                </div>
                <div class="article-footer-icon-and-values">
                    <h4 class="article-footer-h">{{ article.dislikes }}</h4>
                    <a href="">

                        <img src="{% static 'ThumbsDown.png' %}" alt="" class="article-footer-img">
                    </a>
                </div>

                <div class="article-footer-icon-and-values">
                    <h4 class="article-footer-h">1</h4>
                    <a href="">

                        <img src="{% static 'Speech_Bubble.png' %}" alt="" class="article-footer-img">
                    </a>
                </div>

                <div class="article-footer-date">
                    <img src="{% static 'Calendar.png' %}" alt="" class="article-footer-img">
                    <h4 class="article-footer-h">{{ article.date }}</h4>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

{% endblock %}